<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadingBooks_Final"
        tools:targetApi="31">
        <activity
            android:name=".activity.add_chapter"
            android:exported="false"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.edit_book"
            android:exported="false"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.show_info_book"
            android:exported="false"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.ListBook"
            android:exported="false"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.Write_tab5"
            android:exported="false"
            android:parentActivityName=".fragment.Write"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.Write_tab4"
            android:exported="false"
            android:parentActivityName=".fragment.Write"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.Write_tab3"
            android:exported="false"
            android:parentActivityName=".fragment.Write"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.Write_tab2"
            android:exported="false"
            android:parentActivityName=".fragment.Write"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.forget_pass"
            android:exported="false"
            android:parentActivityName=".activity.login"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".activity.profile"
            android:exported="false"
            android:parentActivityName=".fragment.Account"
            android:theme="@style/Theme.Profile" />
        <activity
            android:name=".activity.sign_up"
            android:exported="false"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".activity.login"
            android:exported="false"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ReadingBooks_Final" />
        <activity
            android:name=".activity.load_screen"
            android:exported="true"
            android:theme="@style/Theme.Load">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>